---
---
@charset "utf-8";

$font-family-default: "Inconsolata", "Consolas", monaco, monospace;
$font-size-base:   15px;
$font-size-large:  (18/15) + em;
$font-weight-base: normal;
$line-height-base: 1.5;

$spacing-unit:     24px;

$color-text:       #000;
$color-text-light: #606060;
$color-background: #fff;

$content-width:    475px;

$underline-colors: (
  green: #3CF600,
  yellow: #EDF13A,
  cyan: #3ADDF1,
  purple: #FF94E1,
  red: #FF9B9B
);

header {
  // Structure
  height: 3.25rem;
  margin-bottom: 0.5rem;

  // Text
  font-weight: 600;
  text-align: center;
  line-height: 3.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #2f2f2f;
  color: white;
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@import
  "bulma",
  "fonts",
  "syntax-highlighting",
  "guides";
