---
layout: default
---

<div class="columns">
  <div class="column is-one-quarter">
    <aside class="menu">
      <p class="menu-label">Components</p>
      <ul class="menu-list">
        {% for guide in site.guides %}
        <li><a href="#{{ guide.slug }}">{{ guide.title }}</a></li>
        {% endfor %}
      </ul>
    </aside>
  </div>
  <div class="column">
    {% for guide in site.guides %}
    <div id="{{ guide.slug }}" class="guide">{{ guide.content }}</div>
    {% endfor %}
  </div>
</div>
