<aside class="menu">
  <p class="menu-label">Components</p>
  <ul class="menu-list">
    <li><a href="{{ site.baseurl }}/guides/typography">Typography</a></li>
    <li><a href="{{ site.baseurl }}/guides/colours">Colours</a></li>
    <li><a href="{{ site.baseurl }}/guides/articles">Articles</a></li>
    <li><a href="{{ site.baseurl }}/guides/embeds">Embeds</a></li>
    <li><a href="{{ site.baseurl }}/guides/inputs">Inputs</a></li>
    <li><a href="{{ site.baseurl }}/guides/events">Events</a></li>
  </ul>
</aside>
